{% extends 'core/base.html' %}
{% block content %}

    <div class="container">
        <div class="left-content">
            {% include 'core/contact-info.html' %}
        </div>
        <div class="right-content">
            <section>
                <div class="container">
                    <!-- Form -->
                    <form action="{% url 'contact' %}" method="post">
                        <h2>Send Us a Message</h2>
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="name">Your Name</label>
                            {% if user.is_authenticated and user.username %}
                                <input type="text" id="name" name="name" placeholder="Enter your name"
                                       required readonly value="{{ full_name|default:user.username }}">
                            {% else %}
                                <input type="text" id="name" name="name" placeholder="Enter your name" required>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="email">Your Email</label>
                            {% if user.is_authenticated and user.email %}
                                <input type="email" id="email" name="email" size="30" placeholder="Enter your email"
                                       required readonly value="{{ user.email }}">
                            {% else %}
                                <input type="email" id="email" name="email" size="30" placeholder="Enter your email"
                                       required>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" id="subject" name="subject" size="30" placeholder="Enter the subject"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="message">Your Message</label>
                            <textarea id="message" name="message" rows="5" placeholder="Write your message"
                                      required></textarea>
                        </div>

                        <div class="form-group captcha-group">
                            <div class="captcha-container">
                                {{ form.captcha }}
                            </div>
                            <!-- Display captcha error if any -->
                            {% if form.captcha.errors %}
                                <div class="custom-alert custom-alert-danger">
                                    <ul>
                                        {% for error in form.captcha.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                        <button type="submit">Send Message</button>
                    </form>
                </div>
            </section>
        </div>
    </div>

{% endblock %}