{% load static %}

<h1>Contact Us</h1>

<p>Thank you for visiting PetAdoption! We’re here to assist you with any questions, concerns, or inquiries you may have about pet adoption. Whether you’re looking to adopt a new furry friend or are an organization seeking to help animals find their forever homes, we’re excited to connect with you.</p>

<h2>Contact Information</h2>


<div class="step">
    <img src="{% static 'images/mail.png' %}" alt="Register">

    <div class="step-text"><strong>Email:</strong> petadoption.smtp@gmail.com</div>
</div>
<div class="step">
    <img src="{% static 'images/phone.png' %}" alt="Choose a Pet">

    <div class="step-text"><strong>Phone:</strong> (+359) 456-7890</div>
</div>
<div class="step">
    <img src="{% static 'images/location.png' %}" alt="Apply for Adoption">

    <div class="step-text"><strong>Address:</strong> 123 Pet Avenue, City, State, ZIP Code</div>
</div>

<h2>Get in Touch</h2>