/* Pet Box */
.dashboard-container {
    width: 100%;
    max-width: 850px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.pet-box {
    position: relative;
    width: 400px;
    height: 180px;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-left: 0;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-shadow: #fff 1px 1px 1px;
    display: inline-block;
}

.pet-box p {
    line-height: 15px;
    margin: 15px 0;
}

.pet-box div:nth-child(1) {
    width: 130px;
    height: 110px;
    float: left;
}

.pet-box div:nth-child(2) {
    width: 250px;
    float: left;
    height: 130px;
    padding-left: 5px;
    margin-left: 5px;

}

.pet-box div:nth-child(3) {
    width: 380px;
    height: 30px;
    float: left;
    margin-top: 5px;
    padding-top: 2px;
    display: block;
}

.pet-box-image {
    max-width: 130px;
    height: 125px;
    border-radius: 5px;
    margin-top: 0;
    margin-left: 0;

}

.pet-box-image img {
    max-width: 130px;
    height: 125px;
    border-radius: 5px;
    margin-top: 0;
    margin-left: 0;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}

/* Button */

.pet-box-button {
    background-color: #f39c12;
    color: white;
    padding: 3px 15px;
    margin-top: -4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #f39c12;
    text-shadow: none;

}

.pet-box-button:hover {
    background-color: #e67e22;
    text-shadow: none;
}

.pet-box-del-btn-danger {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    color: red; /* Trash icon color */
    cursor: pointer;
}

.pet-box-del-btn-danger:hover {
    color: darkred; /* Hover effect for trash icon */
}

.pet-box-del-btn-danger i {
    color: red;  /* Set the desired icon color */
}

.pet-box-del-btn-danger:hover i {
    color: darkred; /* Hover color */
}



/* Box styling */
.box {
    flex: 1 1 48%; /* In desktop mode, each box takes 48% of the width, with some space between */
}

/* Hidden boxes by default */
.hidden {
    display: none;
}

.pet-box-profile {
    width: auto;
    height: 105px;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-left: auto;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.box-profile {
    float: left;
    max-width: 250px;
    height: auto;
    margin-left: 15px;
    display: inline-block;
    position: relative;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box-profile:hover {
    transform: translateY(-5px) scale(1.05);
}

.pet-box-image-profile {
    float: left;
    max-width: 90px;
    height: 90px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.pet-box-image-profile img {
    float: left;
    max-width: 90px;
    height: 90px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.pet-box-profile div:nth-child(1) {
    width: 90px;
    height: 95px;
    float: left;
}

.pet-box-profile div:nth-child(2) {
    font-size: 14px;
    width: 150px;
    float: left;
    height: auto;
    padding-left: 5px;
    margin-left: 5px;
    text-indent: inherit;
}

.pet-box-profile div:nth-child(3) {
    width: 270px;
    height: 30px;
    float: left;
    margin-top: 10px;
    padding-top: 10px;
    display: block;
}

.pet-box-profile a:link, a:visited {
    background-color: #f39c12;
    color: white;
    padding: 0 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #f39c12;
    text-shadow: none;
    font-size: 14px;
}

.pet-box-profile a:hover {
    background-color: #e67e22;
    text-shadow: none;
}

#del {
    background-color: #b23b3b;
    border: 1px solid #b23b3b;
}

#del:hover {
    background-color: #721c24;
    border: 1px solid #b23b3b;
}
