{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    
    <div class="container adoption-requests-container">
        <!-- Request Detail Section -->

        <!-- Left Section: Approved and Rejected Requests -->
        <div class="left-content">
            {% if request_id and request_detail %}
                <!-- Request Detail Form -->
                <form method="POST" action="{% url 'update adoption request status' shelter.pk request_detail.id %}"
                      class="request-detail-form">
                    {% csrf_token %}
                    <h3>Adoption Request Details</h3>
                    <div class="adoption-request-item">
                        <!-- Pet Image and Name (Left) -->
                        <div class="item-left">
                            <img src="{{ request_detail.pet.image.url }}" alt="{{ request_detail.pet.name }}"
                                 class="pet-thumbnail">
                            <span>{{ request_detail.pet.name }}</span>
                        </div>

                        <!-- Chain Image (Center) -->
                        <div class="item-center">
                            <img src="{% static 'images/chain.png' %}" alt="chain" class="chain-icon">
                        </div>

                        <!-- Adopter Name and Image (Right) -->
                        <div class="item-right">
                            <span>{{ request_detail.adopter.user_profile.full_name|default:request_detail.adopter.username }}</span>
                            <img src="{{ request_detail.adopter.user_profile.image.url }}"
                                 alt="{{ request_detail.adopter.username }}'s profile image" class="pet-thumbnail">
                        </div>
                    </div>

                    <p><strong>Message:</strong> {{ request_detail.message }}</p>
                    <div class="button-container">
                        <button type="submit" name="status" value="Rejected" class="btn-reject-request">Reject</button>
                        <button type="submit" name="status" value="Approved" class="btn-approve-request">Approve
                        </button>

                    </div>
                </form>
            {% else %}
                <!-- Archived Requests -->
                <h2 style="color: darkred;">Archived Requests</h2>
                {% if adopted_or_rejected_requests %}
                    <ul>
                        {% for request in adopted_or_rejected_requests %}
                            <li class="adoption-request-item">
                                <img src="{{ request.pet.image.url }}" alt="{{ request.pet.name }}"
                                     class="pet-thumbnail">
                                <div class="adoption-request-details">
                                    <strong>{{ request.pet.name }}</strong> is a
                                    <span class="{% if request.status == 'Approved' %}status-approved{% else %}status-rejected{% endif %}">
                                        {{ request.status }}
                                    </span>
                                    <p>Adopter is
                                        <strong>{{ request.adopter.user_profile.full_name|default:request.adopter.username }}</strong>
                                        on {{ request.updated_at|date:"j M Y" }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No past adoption requests.</p>
                {% endif %}
            {% endif %}
        </div>

        <!-- Right Section: Pending Requests -->
        <div class="right-content">
            <h2 style="color: darkgreen;">New Requests {{ pending_requests|length }}</h2>
            {% if pending_requests %}
                <ul>
                    {% for request in pending_requests %}
                        <li class="adoption-request-item">
                            <img src="{{ request.pet.image.url }}" alt="{{ request.pet.name }}" class="pet-thumbnail">
                            <div class="adoption-request-details">
                                <a href="?request_id={{ request.id }}" class="adoption-request-link">
                                    <strong>{{ request.adopter.user_profile.full_name|default:request.adopter.username }}</strong>
                                    want to adopt <strong>{{ request.pet.name }}</strong>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No new adoption requests.</p>
            {% endif %}
        </div>

    </div>

{% endblock %}