{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <div class="profile-container">
        <div class="profile-left-content">
            <div class="profile-image-container">
                {% if user_profile.image %}
                    {% load cloudinary %}
                    {% cloudinary user_profile.image quality='auto' width=450 crop='fit' %}
                {% else %}
                    <img src="https://via.placeholder.com/400" alt="User Profile Picture">
                {% endif %}
            </div>

            <div class="profile-info">
                {% if user.is_authenticated %}
                    {% if user_profile.completed %}
                        <div class="user-username-email">
                            <h2> {{ user.username }} </h2>
                        </div>
                    {% else %}
                        <h2> {{ user.username }} </h2>
                        <p>Please, complete your profile to start the adoption process.</p>
                        <span><a href="{% url 'profile edit view' user_profile.pk %}">Complete Profile</a></span>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="right-content">
            <form method="post" action="{% url 'profile edit view' user_profile.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>

{% endblock %}