{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <div class="profile-container">
        <div class="profile-left-content">
            <div class="profile-image-container">
                {% if user_profile.image %}
                    {% load cloudinary %}
                    {% cloudinary user_profile.image quality='auto' width=450 crop='fit' %}
                {% else %}
                    <img src="{% static 'images/200X200.png' %}" alt="User Profile Picture" width="450">
                {% endif %}
            </div>
           <br>
            <div class="profile-info">
                {% if user.is_authenticated %}
                    {% if user_profile.completed %}
                       
                            <h3 style="color: #3e8e41 ">✔️ Congratulations! Your profile is completed!</h3>
                    
                    {% else %}
                        <h3 style="color: darkred">🚨 Profile is not completed yet!</h3>
                        <p style="color: darkred;">Complete your profile to access all the benefits and features!
                            Fields with * are required</p>
                        <h3>Benefits:</h3>
                        <ul>
                            <li>Find and adopt pets</li>
                            <li>Browse and filter pets by species, age, size and other criteria</li>
                            <li>Ability to apply for adoption</li>
                            <li>Rate and leave feedback for shelters and pets you’ve interacted with</li>
                            <li>Track your adoption progress and manage your profile details</li>
                        </ul>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="right-content">
            <form method="post" action="{% url 'profile edit view' user_profile.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="first_name">* First Name:</label>
                <input type="text" id="first_name" name="first_name" placeholder="Enter First Name"
                       value="{{ user_profile.first_name }}" required>

                <label for="last_name">* Last Name:</label>
                <input type="text" id="last_name" name="last_name" placeholder="Enter Last Name"
                       value="{{ user_profile.last_name }}" required>

                <label for="phone_number">Phone Number:</label>
                <input type="number" id="phone_number" name="phone_number" value="{{ user_profile.phone_number }}"
                       placeholder="Enter Phone Number">

                <label for="province">* Province</label>
                <select id="province" name="province" class="minimal" required>
                    <option value="" disabled {% if not user_profile.province %}selected{% endif %}>Select Province
                    </option>
                    {% for province in provinces %}
                        <option value="{{ province }}"
                                {% if province == user_profile.province %}selected{% endif %}>{{ province }}</option>
                    {% endfor %}
                </select>

                <label for="city">* City</label>
                <select id="city" name="city" class="minimal" required>
                    <option value="" disabled {% if not user_profile.city %}selected{% endif %}>Select City</option>
                    {% for city in cities %}
                        <option value="{{ city }}"
                                {% if city == user_profile.city %}selected{% endif %}>{{ city }}</option>
                    {% endfor %}
                </select>


                <label for="address">* Address:</label>
                <input type="text" id="address" name="address" value="{{ user_profile.address }}" placeholder="Enter Address"
                       required>


                <div class="form-right">
                    <!-- Image Field -->
                    <div class="form-group">
                        <label for="image" id="image">* Upload Image</label>

                        <div id="image-preview" class="image-preview">
                            {% if user_profile.image %}
                                
                                <div>
                                    <input type="checkbox" id="clear_image" name="clear_image">&nbsp; Clear current
                                    image
                                </div>
                            {% else %}
                                 <p><small>No image uploaded yet</small></p>
                            {% endif %}

                            <input type="file" id="image" name="image">
                        </div>
                    </div>
                </div>
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>

{% endblock %}