{% extends 'core/base.html' %}

{% block content %}

    <form method="post" action="{% url 'password_reset_confirm' uidb64=user_id token=token %}"
          class="password-reset-form">
        {% csrf_token %}
        <h2>Reset Your Password</h2>
        {% if valid_token %}
            <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" id="new_password" name="new_password" placeholder="Enter new password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm New Password</label>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm new password"
                       required>
            </div>
            <button type="submit" class="btn-submit">Reset Password</button>
        {% else %}
            <p class="error-message">The password reset link is invalid or has expired.</p>
        {% endif %}
    </form>

{% endblock %}