{% extends 'core/base.html' %}
{% load cloudinary %}
{% load static %}

{% block content %}

    <!-- Header Section -->
    {% if shelter_profile.image %}
        <header class="shelter-header" style="background-image: url('{{ bg_image_url }}');">
            <div class="header-overlay">
                <h1 class="shelter-name">{{ shelter_profile.organization_name }}</h1>
            </div>
        </header>
    {% else %}
        <header class="shelter-header" style="background-image: url('{% static 'images/no-pet-image.jpg' %}');">
            <div class="header-overlay">
                <h1 class="shelter-name">{{ shelter_profile.organization_name|default:shelter_profile.user.username }}</h1>
            </div>
        </header>
    {% endif %}

    <div class="container">
        <div class="shelter-profile">

            <!-- Main Section -->
            <main class="shelter-main">
                <div class="shelter-container">

                    <!-- Left Section: Shelter Details -->
                    <section class="shelter-details">
                        <div class="feedback-rating-user">

                            <h2> {{ shelterprofile.organization_name }}</h2>
                            <p>
                                <strong>Location:</strong> {{ shelter_profile.province }}, {{ shelter_profile.city }}, {{ shelter_profile.address }}
                            </p>
                            <p><strong>Phone:</strong> <a
                                    href="tel:{{ shelter_profile.phone_number }}"> {{ shelter_profile.phone_number|default:"N/A" }}</a>
                            </p>
                            <p><strong>Email:</strong> <a
                                    href="mailto:{{ shelter_profile.user.email }}">{{ shelter_profile.user.email }}</a>
                            </p>
                            <p><strong>Website:</strong> <a
                                    href="{{ shelter_profile.website }}"
                                    target="_blank"> {{ shelter_profile.website|default:"N/A" }}</a>
                            </p>
                            <p><strong>Established:</strong> {{ shelter_profile.created_at|date:"j M Y" }}</p>
                        <br>
                            <!-- Shelter ratings and feedback section -->

                            <h3>Recent 5 Feedbacks</h3>
                            {% for review in reviews %}
                                <div class="feedback-container">
                                    <div class="feedback-rating">
                                        <div class="feedback-rating-user">
                                            <div class="feedback-rating-image">
                                            <img src="{{ review.adopter.user.user_profile.image.url }}"
                                                 alt="{{ review.adopter.username }}'s profile image"
                                                 class="pet-thumbnail-review">
                                            </div>
                                            <div class="feedback-rating-user">
                                                <strong>{{ review.adopter|truncatechars:16 }}</strong>
                                            </div>
                                        </div>
                                        <div class="shelter-stars">
                                            <span class="shelter-stars-filled"
                                                  style="width: {{ review.rating_percent }}%;">★★★★★</span>
                                            <span class="shelter-stars-empty">★★★★★</span>
                                        </div>
                                    </div>
                                    &nbsp;
                                    <div class="feedback-message">
                                        {{ review.feedback }}
                                        <small>{{ review.created_at|date:"F j, Y" }}</small>
                                    </div>
                                </div>
                            {% empty %}
                                <li>No reviews yet</li>
                            {% endfor %}

                        </div>
                    </section>

                    <!-- Right Section: Links and Actions -->
                    <section class="shelter-actions">
                        {% if request.user == shelter_profile.user %}
                            <ul class="">
                                {% if not adoption_requests %}
                                    <h3>Adoption Requests</h3>
                                    <li>No requests yet.</li>
                                {% else %}
                                    <h3>Adoption Requests
                                        <a class="btn-count-requests active">{{ adoption_requests.count }}</a></h3>
                                    <li>
                                        <a href="{% url 'shelter adoption requests' shelter_profile.pk %}"
                                           class="button">View Requests</a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}

                        <h3>Rating</h3>
                        <p> &nbsp; &nbsp;{{ average_rating|floatformat:2 }} | {{ total_reviews }} Feedback(s)</p>
                    &nbsp; &nbsp;
                            <div class="shelter-stars">
                                <span class="shelter-stars-filled"
                                      style="width: {{ average_rating_percent }}%;">★★★★★</span>
                                <span class="shelter-stars-empty">★★★★★</span>
                            </div>
                        <h3>Actions</h3>

                        <ul>
                            {% if request.user == shelter_profile.user %}
                                <li>
                                    <a href="{% url 'shelter edit view' shelter_profile.pk %}" class="button">Manage
                                        Shelter</a>
                                </li>

                            {% endif %}

                            <li><a href="{% url 'dashboard' %}?shelter={{ shelter_profile.user.pk }}" class="button">View
                                Adoptable Pets</a></li>
{#                            <li><a href="#" class="button">Make a Donation</a></li>#}
                        </ul>

                        <!-- Center Section: Shelter Geolocation map -->
                        <div id="map" style="height: 200px; width: 100%;">

                            <script>
                                const mapCoordinates = {{ map_coordinates|safe }};
                                if (mapCoordinates) {
                                    const map = L.map('map').setView([mapCoordinates.latitude, mapCoordinates.longitude], 13);

                                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                        attribution: '© OpenStreetMap contributors',
                                    }).addTo(map);

                                    L.marker([mapCoordinates.latitude, mapCoordinates.longitude]).addTo(map)
                                        .bindPopup('{{ shelter_profile.organization_name }}')
                                        .openPopup();
                                } else {
                                    document.getElementById('map').innerHTML = '<p>Location data not available.</p>';
                                }
                            </script>
                        </div>

                    </section>
                </div>
            </main>


        </div>
    </div>
{% endblock %}




