{% extends 'core/base.html' %}

{% block content %}

    
{#    <form method="post" class="reset-password-form">#}
{#        {% csrf_token %}#}
{#        <h2>Rate Us & Feedback{{ shelter.name }}</h2>#}
{#        <div class="form-group">#}
{##}
{#            {{ form }}#}
{#        </div>#}
{#        <button type="submit" class="btn btn-primary">Submit Rating</button>#}
{#    </form>#}
<div class="container">
    <form method="POST" action="" class="reset-password-form">
    {{ form.errors }}
    {% csrf_token %}
    <div class="rating-form">
        <label for="rating">Rate the shelter:</label>
        <div class="star-rating">
            {% for star in "54321" %}
            <input type="radio" id="star{{ star }}" name="rating" value="{{ star }}">
            <label for="star{{ star }}" title="{{ star }} star{{ star|pluralize }}">&#9733;</label>
            {% endfor %}
        </div>

        <div class="feedback-section">
            <label for="feedback">Feedback message:</label>
            <textarea id="feedback" name="feedback" rows="10" cols="46" placeholder="Write your feedback here..."></textarea>
        </div>

        <button type="submit" class="submit-btn">Submit Rating</button>
    </div>
</form>

</div> 
{% endblock %}
