{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <div class="profile-container">
        <div class="profile-left-content">
            <div class="profile-image-container">
                {% if shelter_profile.image %}
                    {% load cloudinary %}
                    {% cloudinary shelter_profile.image quality='auto' crop='fit' %}
                   
                {% else %}
                    <img src="https://via.placeholder.com/1200X300" alt="User Profile Picture">
                {% endif %}
            </div>
        
            <div class="profile-info">
                {% if user.is_authenticated %}
                    {% if not shelter_profile.completed %}
                        <h2> {{ user.username }} </h2>
                        <p>Please, complete your profile to start using our services.</p>
                        <span><a href="{% url 'shelter edit view' shelter_profile.pk %}">Complete Profile</a></span>
                    {% endif %}
                {% endif %}
            </div>
        
        </div>

        <div class="right-content">
            <form method="post" action="{% url 'shelter edit view' shelter_profile.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>

{% endblock %}