{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <div class="profile-container">

        <div class="profile-left-content">

            <div class="profile-image-container">

                {% if user_profile.image %}

                    <img src="{{ user_profile.image.url }}" alt="{{ user_profile.image.url }}">

                {% else %}
                    <img src="https://via.placeholder.com/300" alt="User Profile Picture">
                {% endif %}
            </div>

            <div class="profile-info">
                {% if user.is_authenticated %}

                    {% if user_profile.completed %}
                        <div class="user-username-email">
                             <span>
                     
                                 <a href="{% url 'profile edit view' user_profile.pk %}">My Profile</a>
                            </span>
                            <span>
                            <i class="fas fa-user"></i>
                                <b>{{ user.username }}</b>
                             &nbsp; ( {{ user_profile.full_name|truncatechars:15 }} ) &nbsp;

                            </span>

                            <div class="user-edit-logout">
                                <span>
                                    <i class="fas fa-user-edit"></i>
                                    <a href="{% url 'profile edit view' user_profile.pk %}">Edit Profile</a>
                                </span>
{#                                <span>#}
{#                                    <i class="fas fa-sign-out-alt"></i>#}
{#                                    <a href="#"#}
{#                                       onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>#}
{#                                </span>#}
                            </div>

                        </div>



                    {% else %}
                        <h2> {{ user.username }} </h2>
                        <p>Please, complete your profile to start the adoption process.</p>
                        <span id="second"><a
                                href="{% url 'profile edit view' user_profile.pk %}">Complete Profile</a></span>
                    {% endif %}
                {% endif %}


            </div>

        </div>

        {#        <div class="right-content">#}
        {#            11.10.2024 - Adoption request: {{ adoption_request_status }} Approved <a href="#"> View details</a><br>#}
        {#            09.10.2024 - Adoption request: {{ adoption_request_status }} Pending <br>#}
        {#            08.10.2024 - New Adoption request to: <a href="#">SofiaPetShelter</a> for <a href="#"><b>Shih-Tzu</b></a>#}
        {#        </div>#}
    </div>

{% endblock %}