{% extends 'core/base.html' %}
{% load static %}

{% block content %}
   
    <div class="user-profile">
        <!-- Header Section -->
        <header class="user-header">
            <div class="user-header-content">
            {% if user_profile.image %}
                <img src="{{ user_profile.image.url }}" alt="{{ user.username }}'s profile image" class="user-profile-image">
            {% else %}
                <img src="{% static 'images/no.png' %}" alt="{{ user.username }}'s profile image" class="user-profile-image">
            {% endif %}
                <h1 class="user-name">{% if user.userprofile.full_name %}{{ user.userprofile.full_name }}{% else %}{{ user.username }}{% endif %}</h1>
            </div>
        </header>

        <!-- Main Section -->
        <main class="user-main">
            <div class="user-container">
                <!-- Left Section: User Details -->
                <section class="user-details">
                    <h2>About {{ user.username }}</h2>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Joined:</strong> {{ user.userprofile.created_at|date:"F j, Y" }}</p>
                    <p><strong>Location:</strong> {{ user.userprofile.province }}, {{ user.userprofile.city }}</p>
                </section>

                <!-- Right Section: Links and Actions -->
                <section class="user-actions">
                    <h3>Actions</h3>
                    <ul>
                        <li><a href="{% url 'profile edit view' user_profile.pk %}" class="button">Edit Profile</a></li>
                        <li><a href="#" class="button">View Activity</a></li>
                        <li><a href="#" class="button button-danger">DELETE PROFILE</a></li>
                    </ul>
                </section>
            </div>
        </main>
    </div>



{% endblock %}