{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <!-- Left side: Steps to adopt a pet -->
        <div class="left-content">
            <h2>Add Pet</h2>
            <form action="{% url 'add pet' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-grid">
                    <!-- Left Part -->
                    <div class="form-left">
                        <div class="form-group">
                            <label for="name">Pet Name</label>
                            <input type="text" id="name" name="name" placeholder="Enter pet's name" required>
                        </div>
                        <div class="form-group">
                            <label for="breed">Breed</label>
                            <input type="text" id="breed" name="breed" placeholder="Enter pet's breed" required>
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" id="age" name="age" placeholder="Enter pet's age in months" min="0"
                                   required>
                        </div>
                    </div>

                    <!-- Right Part -->
                    <div class="form-right">
                        <div class="form-group">
                            <label for="type">Select Species</label>
                            <select id="type" name="type" class="minimal" required>
                                <option value="Dog">Dog</option>
                                <option value="Cat">Cat</option>
                                <option value="Bird">Bird</option>
                                <option value="Reptile">Reptile</option>
                                <option value="Fish">Fish</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="gender">Select Gender</label>
                            <select id="gender" name="gender" class="minimal" required>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="size">Select Size</label>
                            <select id="size" name="size" class="minimal" required>
                                <option value="Small">Small</option>
                                <option value="Medium">Medium</option>
                                <option value="Large">Large</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Bottom Part -->
                <div class="form-bottom">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" placeholder="Enter pet's description"
                                  rows="6"></textarea>
                        (1500 characters max)
                    </div>
                    <div class="form-group">
                        <label for="image">Pet Image</label>
                        <input type="file" id="image" name="image" accept="image/*">
                    </div>
                    <button type="submit">Add Pet</button>

                </div>
            </form>

        </div>

        <div class="right-content">
            {% include 'pets/add-pet-description.html' %}
        </div>
    </div>
{% endblock %}