{% extends 'core/base.html' %}
{% load static %}
{% load user_tags %}

{% block content %}



    {% if user|is_adopter %}
        <!-- Adopter-specific content -->
        {#    <div class="add-pet">#}
        {#        {% if user.is_authenticated %}#}
        {#            {% if user_profile.completed %}#}
        {#                <a href="{% url 'add pet' %}" class="add-pet-link" id="add-pet">#}
        {#                    <i class="fas fa-plus"></i>&nbsp; Add Pet for Adoption</a>#}
        {#            {% else %}#}
        {#                <a href="{% url 'profile details view' user.pk %}" class="add-pet-link">#}
        {#                    Complete Your Profile</a>#}
        {#            {% endif %}#}
        {#        {% endif %}#}
        {#    </div>    #}
        <div class="dashboard-container">
            {% for pet in pets %}

                <div class="box">
                    <main class="pet-box">
                        <div>
                            {% if pet.image %}
                                <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="pet-box-image">
                            {% else %}
                                <img src="{% static 'images/no.png' %}" alt="Pet" class="pet-box-image">
                            {% endif %}
                        </div>
                        <div>
                            <p><b>{{ pet.name|capfirst }}</b> - {{ pet.created_at|date:"d.m.Y" }}</p>
                            <p>Breed: <b>{{ pet.breed }}</b></p>
                            <p>Age: <b>{{ pet.age }} months</b></p>
                            <p>Owner: <b>{{ pet.owner.username }} </b></p>
                            <p><b>{{ pet.created_at|date:"d.m.Y" }}</b></p>
                        </div>
                        <div>
                            {# Like button #}
                            <button onclick="likePet({{ pet.pk }})" id="like-button-{{ pet.pk }}" class="like-button">
                                <i class="far fa-heart {% if pet.liked %}fas liked-heart{% endif %}"></i>
                                <span id="like-count-{{ pet.pk }}">{{ pet.total_likes }}</span>
                            </button>
                            <a href="{% url 'pet details' pet.slug %}" class="" style="float: right">Preview</a>
                        </div>
                    </main>
                </div>
            {% endfor %}


        </div>



    {% elif user|is_shelter %}
        <!-- Shelter-specific content -->
        <div class="add-pet">
            {% if user.is_authenticated %}
{#                {% if shelter_profile.completed %}#}
                    <a href="{% url 'add pet' %}" class="add-pet-link" id="add-pet">
                        <i class="fas fa-plus"></i>&nbsp; Add Pet for Adoption</a>
{#                {% else %}#}
{#                    <a href="{% url 'shelter details view' user.pk %}" class="add-pet-link">#}
{#                        Complete Your Profile</a>#}
{#                {% endif %}#}
            {% endif %}
        </div>
        <div class="dashboard-container">
            {% for pet in pets %}

                <div class="box">
                    <main class="pet-box">
                        <div>
                            {% if pet.image %}
                                <img src="{{ pet.image.url }}" alt="{{ pet.name }}" class="pet-box-image">
                            {% else %}
                                <img src="{% static 'images/no.png' %}" alt="Pet" class="pet-box-image">
                            {% endif %}
                        </div>
                        <div>
                            <p><b>{{ pet.name|capfirst }}</b> - {{ pet.created_at|date:"d.m.Y" }}</p>
                            <p>Breed: <b>{{ pet.breed }}</b></p>
                            <p>Age: <b>{{ pet.age }} months</b></p>
                            <p>Owner: <b>{{ pet.owner.username }} </b></p>
                            <p><b>{{ pet.created_at|date:"d.m.Y" }}</b></p>
                        </div>
                        <div>
                            {# Like button #}
                            <button onclick="likePet({{ pet.pk }})" id="like-button-{{ pet.pk }}" class="like-button">
                                <i class="far fa-heart {% if pet.liked %}fas liked-heart{% endif %}"></i>
                                <span id="like-count-{{ pet.pk }}">{{ pet.total_likes }}</span>
                            </button>
                            <a href="{% url 'pet details' pet.slug %}" class="" style="float: right">Preview</a>
                        </div>
                    </main>
                </div>
            {% endfor %}


        </div>



    {% endif %}

    <!-- Pagination Controls -->
    {#    <div class="pagination">#}
    {#        {% if not page_obj.has_next and page_obj.number == 1 %}#}
    {#            <p>That's all Folks!</p>#}
    {#        {% else %}#}
    {#            <div class="pagination">#}
    {#                <span class="step-links">#}
    {#                    {% if page_obj.has_previous %}#}
    {#                        <a href="?page=1" id="first">&laquo; first</a>#}
    {#                        <a href="?page={{ page_obj.previous_page_number }}" id="previous">previous</a>#}
    {#                    {% endif %}#}
    {##}
    {#                    <span class="current">#}
    {#                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}#}
    {#                    </span>#}
    {##}
    {#                    {% if page_obj.has_next %}#}
    {#                        <a href="?page={{ page_obj.next_page_number }}" id="next">next</a>#}
    {#                        <a href="?page={{ page_obj.paginator.num_pages }}" id="last">last &raquo;</a>#}
    {#                    {% endif %}#}
    {#                </span>#}
    {#            </div>#}
    {#        {% endif %}#}
    {#    </div>#}


    <!-- Pagination Controls -->
{#<div class="pagination">#}
{#    {% if not page_obj.has_next and page_obj.number == 1 %}#}
{#        <p>That's all Folks!</p>#}
{#    {% else %}#}
{#        <div class="pagination">#}
{#            {% if page_obj.has_previous %}#}
{#                <a href="?{% if shelter %}shelter={{ shelter }}&{% endif %}page={{ page_obj.previous_page_number }}">Prev</a>#}
{##}
{#                {% if page_obj.number > 3 %}#}
{#                    <a href="?{% if shelter %}shelter={{ shelter }}&{% endif %}page=1">1</a>#}
{#                    {% if page_obj.number > 4 %}#}
{#                        <a>...</a>#}
{#                    {% endif %}#}
{#                {% endif %}#}
{#            {% endif %}#}
{##}
{#            {% for num in page_obj.paginator.page_range %}#}
{#                {% if page_obj.number == num %}#}
{#                    <a href="?{% if shelter_ %}shelter={{ shelter }}&{% endif %}page={{ num }}" class="active">{{ num }}</a>#}
{#                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}#}
{#                    <a href="?{% if shelter %}shelter={{ shelter }}&{% endif %}page={{ num }}">{{ num }}</a>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{##}
{#            {% if page_obj.has_next %}#}
{#                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}#}
{#                    <a>...</a>#}
{#                    <a href="?{% if shelter %}shelter={{ shelter }}&{% endif %}page={{ page_obj.paginator.num_pages }}">#}
{#                        {{ page_obj.paginator.num_pages }}#}
{#                    </a>#}
{#                {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}#}
{#                    <a href="?{% if shelter %}shelter={{ shelter }}&{% endif %}page={{ page_obj.paginator.num_pages }}">#}
{#                        {{ page_obj.paginator.num_pages }}#}
{#                    </a>#}
{#                {% endif %}#}
{##}
{#                <a href="?{% if shelter %}shelter={{ shelter }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>#}
{#            {% endif %}#}
{#        </div>#}
{#    {% endif %}#}
{#</div>#}

<div class="pagination">
    {% if not page_obj.has_next and page_obj.number == 1 %}
        <p>That's all Folks!</p>
    {% else %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?{{ query_params }}&page={{ page_obj.previous_page_number }}">Prev</a>

                {% if page_obj.number > 3 %}
                    <a href="?{{ query_params }}&page=1">1</a>
                    {% if page_obj.number > 4 %}
                        <a>...</a>
                    {% endif %}
                {% endif %}
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?{{ query_params }}&page={{ num }}" class="active">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?{{ query_params }}&page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                    <a>...</a>
                    <a href="?{{ query_params }}&page={{ page_obj.paginator.num_pages }}">
                        {{ page_obj.paginator.num_pages }}
                    </a>
                {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                    <a href="?{{ query_params }}&page={{ page_obj.paginator.num_pages }}">
                        {{ page_obj.paginator.num_pages }}
                    </a>
                {% endif %}

                <a href="?{{ query_params }}&page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
</div>





{% endblock %}